<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jocke.incidentguardianv2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MonitorActivity"
            android:label="Monitor"/>
        <activity
            android:name=".Activities.MessageActivity"
            android:label="Edit Emergency Message"/>
        <activity
            android:name=".Activities.ContactActivity"
            android:label="Add Contact"/>
        <activity
            android:name=".Activities.MenuActivity"
            android:label="Menu"/>
        <activity
            android:name=".Activities.ViewContactsActivity"
            android:label="Contacts"/>
        <activity
            android:name=".Activities.FallDetectedActivity"
            android:label="A fall was detected"/>
    </application>

</manifest>